body {
    background: rgba(102, 99, 98, 1);
}

.container-fluid {
	position: relative;
}

.rfooter {
    padding-top: 100%;
    /*background: black;*/
}

header {
	background: rgba(128, 0, 0, .9);
	padding-top: 40px;
	height: 140px;
	color: white;
	font-family: sans-serif;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
	/*text-transform: uppercase; capitalize lowercase none*/
    letter-spacing: 4px;
    font-size: 2.6em;	

    /*animation-name: mudadecor;
    animation-duration: 4s;*/
    
}

header h1 {
	/*animation-name: alteratamanho;
    animation-duration: 4s;*/
}

section {
    padding-top: 35px;
    height: 500px;
	/*background: rgba(102, 99, 98, .2);*/
}

section .row {
    margin-top: 45px;
}

section .row .progresso {
    text-align: end;
}

section progress {
    vertical-align: middle;
}

section .row .velocidade {
    text-align: initial;
}

#linkyb {
    width: 80%;
}
footer {
	background: gray;
}

@keyframes mudadecor {
    from {
    		background: rgba(128, 0, 0, .4);
    	}
    to {
    	background: rgba(128, 0, 0, .9);
    	font-size: 2.6em;
    }
}

@keyframes alteratamanho {
    from {
    		font-size: 1.6em;
    	}
    to {
    	
    	/*font-size: 2.6em;*/
    }
}