<!DOCTYPE html>

<!-- Diretiva ng-app, significa que o angular irá controla todos conteúdo dentro de html -->
<html>
<head>
	<meta charset="utf-8">

	<!-- Estilos -->
	<link rel="shortcut icon" href="resources/images/favicon.png" type="image/x-icon" />
  	<link rel="stylesheet" type="text/css" href="node_modules/admin-lte/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
  	<link rel="stylesheet" type="text/css" href="view/css/style.css">

	<title>Download de Musicas</title>
	
	<!-- Importando angular -->
	<!-- <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script> -->
	<!-- script type="text/javascript">

		/*
		* app é o nome da aplicação
		* [] são as dependencias
		* 
		*/
		angular.module('app', [])

	</script> -->

</head>
<body>
	<header>header
		<div class="container">
			<div class="row rowHeader">
				<p>
					<i class="fa fa-download" aria-hidden="true"></i>
					<label>Download de Músicas do YouTube</label>
					<small>Teste</small>

				</p>
				
			</div>
		</div>


	</header>
	<section>section</section>
	<footer>footer</footer>
</body>
</html>