<!DOCTYPE html>

<!-- Diretiva ng-app, significa que o angular irá controla todos conteúdo dentro de html -->
<html ng-app="app">
<head>
	<meta charset="utf-8">

	<!-- Estilos -->
	<link rel="shortcut icon" href="resources/images/favicon.png" type="image/x-icon" />
  	<link rel="stylesheet" type="text/css" href="node_modules/admin-lte/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
  	<link rel="stylesheet" type="text/css" href="view/css/style.css">

  	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  	<script type="text/javascript" src="/core/core.js"></script>
  	<script type="text/javascript" src="node_modules/admin-lte/plugins/jQuery/jquery-2.2.3.min.js"></script>
  	
  	<script type="text/javascript" src="socket.io/socket.io.js"></script>

	<title>Download de Musicas</title>
	
	<!-- Importando angular -->
	<!-- <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script> -->
	<!-- script type="text/javascript">

		/*
		* app é o nome da aplicação
		* [] são as dependencias
		* 
		*/
		angular.module('app', [])

	</script> -->

</head>
<body>

	<div class="container-fluid maincontainer" ng-controller="Controller as ctr">

		<div class="row rheader">
			<header class="text-center">
				<!-- <p> -->
					
					<h1>
						<i class="fa fa-download" aria-hidden="true"></i>
						Download de Músicas do YouTube
					</h1>
					

				<!-- </p>	 -->
		
			</header>
		</div>

		<div class="row rsection">
			
			<section>
				
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div class="form-inline">
						<input type="text" class="form-control" id="linkyb" placeholder="Link" ng-model="ctr.link_video">
						<button type="submit" class="btn btn-primary" ng-click="ctr.download_convert_mp3()">Converter Video</button>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 progresso">
						<progress max="100" ng-model="progresso" value={{ctr.progresso}}><progress/>	
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 velocidade">
						<div  ng-model="velocidade">
							<p>{{ctr.velocidade}}</p>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<a id="rallteste" href="{{ctr.musica}}" download ng-model="musica"></a>
					</div>

					
				</div>
			
		
			</section>
			
		</div>

		<div class="row rfooter">
			<footer>footer
		
			</footer>
		</div>
			
	</div>
	

</body>
</html>